{% extends 'base.html.twig' %}

{% block title %}Réinitialisation Mot de passe - Amiam
{% endblock %}

{% block body %}
	<section class="">
		<h1>Réinitialisation du Mot de passe</h1>
		{{form_start(passForm)}}
        <div class="">
			{{ form_row(passForm.password) }}
		</div>
		<button type="submit" class="btn">Valider</button>
		{{form_end(passForm)}}
	</section>
{% endblock %}
