{% extends 'base.html.twig' %}

{% block title %}Amiam
{% endblock %}

{% block body %}


	<section class="accueil">
	<h1>Amiam</h1>
	<p>page d'accueil</p>
	{% if is_granted('ROLE_USER') %}
						{% else %}
							<a class="btn" href="{{path('app_login')}}">Connexion</a>
						{% endif %}

	</section>

{% endblock %}
