<form method="post" action="{{ path('app_ami_famille_delete', {'id': ami_famille.id}) }}" onsubmit="return confirm('Es-tu sûr(e) de vouloir retirer cette famille de tes amis ? Tous les membres de la famille seront également supprimés de ta liste d'amis.');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ami_famille.id) }}">
<button class="btn iconeSupprimer"><i class="fa-solid fa-trash-can"></i></button>
</form>
