{{ form_start(form) }}
<div class="form-field">
	{{ form_row(form.nom, {
            label: 'Surnom de la famille *',
                   }) }}
</div>
<div class="form-field">
	{{ form_row(form.avatar, {
            label: 'Avatar (fichier image)',
                   }) }}
</div>
<p>* Champs requis</p>
<div class="groupeBtn">
      <button class="btn iconeOk"><i class="fa-solid fa-check"></i></button>
</div>
{{ form_end(form) }}
