{{ form_start(form) }}
<div class="form-field">
	{{ form_row(form.nom, {
            label: 'Surnom de la famille *',
            help:'sans espace ni caractère spécial',
                   }) }}
</div>
<p class="gris">Afin de protéger la vie privée de tes amis, nous te conseillons de choisir un surnom pour la famille.</p>
<div class="form-field">
	{{ form_row(form.avatar, {
            label: 'Avatar (fichier image)',
                   }) }}
</div>
<p class="gris">* Champs requis</p>
<div class="groupeBtn">
	<button class="btn iconeOk">
		<i class="fa-solid fa-check"></i>
	</button>
</div>
{{ form_end(form) }}
