<form method="post" action="{{ path('app_user_family_delete', {'id': user_family.id}) }}" onsubmit="return confirm('Es-tu sûr(e) de vouloir supprimer cette personne de ta famille ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_family.id) }}">
	<button class="btn iconeSupprimer">
		<i class="fa-solid fa-trash-can"></i>
	</button>
</form>
