/* base / header */
#logo {

        font-family: "AlegreyaBlack", Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        font-size: 2rem;
        color: var(--color-four);
        /* margin: 1rem; */
    }

    #logo span{
        font-family: "Fredericka", Arial, Helvetica, sans-serif;
     
    }

    .navbar{
        background-color: var(--color-five);
        color: var(--color-two); 
        height: fit-content;
        
    }
    .navbar-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .navbar-link {
        font-family: "Alegreya", Arial, Helvetica, sans-serif;
        letter-spacing: .5px;
        font-size: 1rem;
        
    }
    .navbar-link .masqueTel {
        display: none;
      }
      

    .menuAmiam .navbar .pseudo {
        font-size: 1rem;
    }
    
    /* base / footer */
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--color-one);
        color: var(--color-three); 
        
    }
    .footer .mentions{
        font-size: .8rem;
    }

  
/* *********************** 
   RESPONSIVE DESKTOP
   ************************ */

@media screen and (min-width: 576px) {
    #logo {

        font-size: 2.5rem;
    }

    .navbar-link .masqueTel {
      display: initial;
    }

    .menuAmiam .navbar .pseudo {
        font-size: .7rem;
    }
    
    /*fin responsive*/
  }