/*général */

.img img, .img1 img, .img2 img, .img3 img {
 
  -webkit-box-shadow: -4px -4px 15px -4px rgba(0, 0, 0, 0.45);
  box-shadow: -4px -4px 15px -4px rgba(0, 0, 0, 0.45);
}

.entete {
  background-image: url("../../assets/img/photoRepas.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100vw;
  color: var(--color-five);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.entete .accroche {
  width: 100%;
  padding: 2rem 2rem 1rem 2rem;
  background-color: #00000079;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#accueil {
  font-size: 2rem;
  margin: 0;
  color: var(--color-five);
}

/*section question reponse*/
.questionReponse {
  margin-top: 2rem;
}
.questionReponse .card {
  min-width: 10rem;
}
.questionReponse .fa-quote-right,
.questionReponse .fa-quote-left {
  color: var(--color-four);
}

.questionReponse .interrogation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.questionReponse .interrogation .premiere,
.questionReponse .interrogation .deuxieme, .questionReponse .reponse .texte {
  min-width: 10rem;
  padding: 1rem;
}
.questionReponse .reponse {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.questionReponse .reponse .image {
  /* width: 38%; */
  max-width: 15rem;
}
.questionReponse .texte p {
  padding: 0.3rem 0;
  margin: 0;
}

/* presentation */
.presentation {
  margin: 0;
  padding: 0;
}
.presentation .resume,
.presentation .point {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 2rem;
  padding-right: 1rem;
}

.presentation .background {
  background-color: var(--color-fourlight);
}
.presentation .resume .img {
  width: 30%;
  min-width: 15rem;
  padding: 1.5rem;
  
}

.presentation .resume p,
.presentation .point .texte {
  width: 65%;
  padding: 0.5rem;
}

.presentation .avant {
  font-weight: bold;
  font-size: 1.3rem;
}

.presentation .point .img {
  width: 30%;
  min-width: 15rem;
  padding: 1.5rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.presentation .point .img1 {
  width: 100%;
  z-index: 1;
  /* overflow: hidden; */
}

.presentation .point .img2 {
  width: 100%;
  position: absolute;
  left: 20%;
  top: 20%;
  z-index: 2;
  /* overflow: hidden; */
}

.presentation .point .img3 {
  width: 100%;
  position: absolute;
  left: 40%;
  top: 34%;
  z-index: 3;
  /* overflow: hidden; */
}
/*boutons */

.home {
  position: relative;
  height: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.home .groupeBtn {
  justify-content: center;
  position: fixed;
  top: 12%;
  right: 10%;
}

.home .btnOk {
  padding: 1rem 2rem;
  width: fit-content;
  height: fit-content;
}

/* page 404*/
.page404 .texte {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page404 h1 {
  font-family: "Fredericka", Arial, Helvetica, sans-serif;
  font-size: 7rem;
  color: var(--color-two);
}

.page404 .groupeBtn {
  justify-content: space-between;
}

.page404 .btn {
  width: fit-content;
}

@media screen and (min-width: 576px) {

  .entete .accroche {
    max-width: 40%;
    height: 80vh;
  }

  .questionReponse .interrogation .premiere,
.questionReponse .interrogation .deuxieme {
  max-width: 40%;
}
.questionReponse .reponse {
  justify-content: space-between;
}
.questionReponse .reponse .texte {
  width: 60%;
}
.questionReponse .reponse .image {
  width: 38%;
  max-width: 22rem;
}
}