.home {
  position: relative;
}

/* User not granted */

#accueil {
  font-size: 2rem;
}
.home .fa-quote-right,
.home .fa-quote-left {
  color: var(--color-four);
}

.home .interrogation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.home .interrogation .premiere,
.home .interrogation .deuxieme {
  max-width: 40%;
  padding: 1rem;
}
.home .reponse {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.home .reponse .texte {
  width: 60%;
  padding: 1rem;
}
.home .reponse .image {
  width: 38%;
}
.home .texte p {
  padding: 0.3rem 0;
  margin: 0;
}

/*boutons */
.home .groupeBtn {
  justify-content: center;
  position: fixed;
  top: 12%;
  right: 10%;
}

.home .btnOk {
  padding: 1rem 2rem;
  width: fit-content;
  height: fit-content;
}

/* page 404*/
.page404 .texte {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page404 h1 {
  font-family: "Fredericka", Arial, Helvetica, sans-serif;
  font-size: 7rem;
  color: var(--color-two);
}

.page404 .groupeBtn {
  justify-content: space-between;
}

.page404 .btn {
  width: fit-content;
}
