{% extends 'emails/base_emails.html.twig' %}

{% block body %}
	<p>
		Bonjour
		{{ user.pseudo}},</p>

	<p>Tu as souhaité modifier ton mot de passe.</p>
	<p>Pour ce faire, clique sur le lien ci-dessous :</p>
	<p>
		<a href="{{ absolute_url( path('app_new_password',{token:token} )) }}">Lien</a>
	</p>
	<p>Attention, il expirera dans 20 minutes.</p>

	<p>Bien cordialement,</p>
	<p>Toute l'équipe de Amiam</p>

{% endblock %}
