.repasIndex p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: normal;
}

.repasIndex .iconeAjout {
    font-size: 1.5rem;
}


/* cards repas */

.repasIndex .cardRepas .card-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;
    padding-bottom: 0;
}

.repasIndex .cardRepas .cardRepasTitre {
    font-family: "AlegreyaBold", Arial, Helvetica, sans-serif;
}
.repasIndex .cardRepas .cardRepasTitre .aperitif {
    color: var(--color-one);
}
.repasIndex .cardRepas .cardRepasTitre .entree {
    color: var(--color-three);
    font-weight: bold;
}
.repasIndex .cardRepas .cardRepasTitre .platAcommpagnementSauce {
    color: var(--color-four);
    font-weight: bold;
}
.repasIndex .cardRepas .cardRepasTitre .dessertGouter {
    color: var(--color-two);
}