
.entete h1, .entete p, .repasShow p {
    margin-top: 0;
    margin-bottom: 0;
}
.entete .df, .repasShow .df {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.repasShow h3 {
    font-size: 1.2rem;
    margin: 1rem 0 0 0 ;
}
.repasShow .famille{
    display: flex;
    flex-wrap: wrap;

}
.repasShow .famille li {
    padding-right: 1rem;
}
.repasShow .ami{
    padding-left: 2rem;
}
.repasShow ul {
    padding-bottom: .5rem;

}
.repasShow .btn {
    margin: 1rem 0 0 0 ;  
      padding: 0;
      padding-left: 1rem;
}
.repasShow .gris {
    color: gray;
    font-size: .7rem;
    line-height: normal;
}



/* recette */

.recettesIndex .cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.recettesIndex .cards .categorieRecettes {
  margin-right: 1rem;
  min-width: 10rem;

}

.recettesIndex .cards .categorieRecettes .cardRecette{
  display: flex;
  flex-wrap: nowrap;
}

