/* général */

section {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* entete */
h1 {
  margin-bottom: 0;
}

/*date*/
.amis #dateRepas {
  max-width: 15rem;
}

/* amis */


.amis h2 {
  margin-top: 0;
}
.amis .famille-checkbox {
  padding-bottom: 1rem;
}

.amis .famille-checkbox .main-checkbox + label {
  font-weight: bold;
}

.amis .ami-checkbox {
  padding-left: 2rem;
}



.amis .allergiesRegimes {
  padding-left: 2rem;
  font-style: italic;
}
.amis .allergiesRegimes .regime {
  color: #ec8906;
  font-weight: bold;
}
.amis .allergiesRegimes .allergie {
  color: #df2c29;
  font-weight: bold;
}


/* recette */
.recettesIndex .gris {
  font-style: italic;
}
.recettesIndex h3 span {
  font-size: 1rem;
  color: grey;
}
.recettesIndex .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.recettesIndex .cards .categorieRecettes {
  margin-right: 1rem;
  min-width: 10rem;
}
.recettesIndex .cards .categorieRecettes .cardRecette {
  display: flex;
  flex-wrap: nowrap;
}
.recettesIndex .cards .categorieRecettes .card {
  height: 17rem;
}
.recettesIndex .cardsRecette {
  position: relative;
}
.recettesIndex .cardRecette .checkboxRecette {
  position: absolute;
  right: 50%;
  bottom: 0.5rem;
}
.recettesIndex .submitChoisi {
  position: fixed;
  right: 1rem;
  bottom: 8rem;
  z-index: 10;
}

/* fichier repas/new */

.repas .iconeOk {
  margin-bottom: 1rem;
}
