/* général */

section {
    margin-bottom: 0;
    padding-bottom: 0;
}


/* entete */
h1 {
    margin-bottom: 0;
}

/* amis */

.amis h2, .recette h2 {
    font-size: 1.5rem;
}
.amis h2 {
    margin-top: 0;
}
.amis .famille-checkbox {
    padding-bottom: 1rem;
}

.amis .famille-checkbox .main-checkbox + label{
    font-weight: bold;
}

.amis .ami-checkbox  {
    padding-left: 2rem;
}

.amis .btnOk, .recettes .btnOk {
    width: fit-content;
    
    }

/* recette */
.recettesIndex h3 span {
    font-size: 1rem;
    color: grey;
}

.recettesIndex .cardRecette .checkboxRecette{
    align-self: center;
    padding-bottom: 1rem;
}
.recettesIndex .submitChoisi {
    position: fixed;
    right: 1rem;
    bottom: 8rem;
    width: fit-content;
}



/* fichier repas/new */

.repas .iconeOk {
    margin-bottom: 1rem;
}