/* entête */

.amiFamilleShowDelete .entete {
  display: flex;
  justify-content: space-between;
}

.amiFamilleShowDelete .familleAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;

  }
  
  /* Amis */
  .amiFamilleShowDelete .amis .cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.amiFamilleShowDelete .amis .card {
  width: fit-content;
  min-width: 100px  ;
  margin: 1rem .5rem;
}
.amiFamilleShowDelete .amis .card-header{
  display: flex;
  justify-content: center;
  padding-bottom: 0;

}

.amiFamilleShowDelete .amis .card-content{
  padding-top: 0;
  display: flex;
  justify-content: center;
}

.amis .cards .dateNaissance {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* repas effectués */

.repas .card-content {
  display: flex;
  flex-wrap: wrap;
}

.repas .card-content .texte {
  font-weight: bold;
}