
.amiNewEdit .gras label {
    font-size: 1.2rem;
    font-weight: bold;
}
.amiNewEdit .allergies {
  display: flex;
  flex-wrap: wrap;
}
.amiNewEdit .allergies div {
  padding-left: 1rem;
  padding-right: 1rem;
  width: fit-content;
}

.amiNewEdit select {
    width: 15rem;
}

