
.amiNewEdit .gras label {
    font-size: 1.2rem;
    font-weight: bold;
}
.amiNewEdit .gras span {
  font-size: 1rem;
  font-weight: 100;
}
.amiNewEdit .allergies, .amiNewEdit .degouts {
  display: flex;
  flex-wrap: wrap;
}
.amiNewEdit .allergies div, .amiNewEdit .degouts div {
  padding-left: 1rem;
  padding-right: 1rem;
  width: fit-content;
}

.amiNewEdit select {
    width: 15rem;
}

