.register span {
    color: crimson;
}

.register input {
    max-width: 30rem;
}

.register .form-field {
    padding: .7rem 0;
    margin-top: 0;
    margin-bottom: 0;
}

.register ul {
    list-style-type: none;
    color: crimson;
    padding: 0;
    margin: 0;
    line-height: 1rem;
}

.register .cgu {
    display: flex;
}

.register a:hover {
    text-decoration: underline;
}

.register .groupeBtn {
    display: flex;
    justify-content: center;
}

.register .btnOk {
    width: fit-content;
    height: fit-content;
    padding: 1rem;
}