.resetPasswordRequest input, .resetPassword input{
    max-width: 30rem;

}

.resetPasswordRequest .groupeBtn {
    display: flex;
    justify-content: flex-start;
}

.resetPasswordRequest .btnOk, .resetPassword .btnOk {
    width: fit-content;
    height: fit-content;
    padding: 1rem;
}