/* entete*/
.user{
    position: relative;
    min-height: 80vh;
}
.user .entete,
.user .email,
.user .email a,
.user .gestionUser {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.user .entete a {
    display: flex;
    align-items: flex-end;

}

.user .gestionUser {
    max-width: 30rem;
    justify-content: space-between;
}

.user .btnModifier {
    width: fit-content;

}

/*famille*/

.user .familleUser .enteteFamille {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}
.user .familleUser .enteteFamille h2{
    width: 10rem;
}

.user .familleUser .enteteFamille i{
    font-size: 1.5rem;
}
.user .contact {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}
.user .contact .btn {
    width: fit-content;
}