{{ form_start(form) }}
<div class="form-field">
	{{ form_row(form.avatar, {
            label: 'Nouvel avatar',
                   }) }}
</div>
<div class="groupeBtn">
	<button class="btn iconeOk">
		<i class="fa-solid fa-check"></i>
	</button>
</div>
{{ form_end(form) }}
