.ingredientNew .form{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.ingredientNew .form .form-field{
width: fit-content;
margin: 1rem ;
}
.ingredientNew .form .quantite{
    width: 5rem;
 
}
.ingredientNew .form select{
    padding: .5rem .75rem;
   
}
.ingredientNew .form input{
    height: 1.7rem;
    line-height: normal;
}

.ingredientNew .bouton {
    max-width: 30rem;
     display: flex;
    justify-content: flex-end;
 }