.ingredientNewEdit .form {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.ingredientNewEdit .form .form-field {
  width: fit-content;
  margin: 1rem;
}
.ingredientNewEdit .form .quantite {
  width: 5rem;
}
.ingredientNewEdit .form select {
  padding: 0.5rem 0.75rem;
}
.ingredientNewEdit .form input {
  height: 1.7rem;
  line-height: normal;
}

.ingredientNewEdit .bouton {
  max-width: 30rem;
  display: flex;
  justify-content: flex-end;
}
.ingredientNewEdit .groupeBtn {
  justify-content: space-between;
}
.ingredientNewEdit .btnOk {
  width: fit-content;
}
.ingredientNewEdit p a {
    text-decoration: underline;
}