.recettesIndex .iconeAjout {
    font-size: 1.5rem;
}
.recettesIndex .cardsRecette{
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}

.recettesIndex .cardsRecette img{
    transition-property: all;
    transition-duration: 0.5s;
    vertical-align: bottom;
    position: relative;
    z-index: 1;
}
.recettesIndex .cardsRecette img:hover{
    transform: scale(1.15);
    filter: brightness(90%);
  
}

.recettesIndex .card{
    max-width: 15rem;
    margin: .5rem;
}
.recettesIndex .cardRecette {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
       
    
}

.recettesIndex h2 span {
    font-size: 1rem;
    color: grey;
}

.recettesIndex .imgRecette {
    display: flex;
    overflow: hidden;
    position: relative;
}

.recettesIndex .slugRecette {
    padding: 1rem;
}

.recettesIndex .titreRecette {
    font-family: "AlegreyaBold", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.recettesIndex .tpsRecette {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 20rem;
    padding-bottom: 1rem;
}

.recettesIndex .tpsRecette div {
    display: flex;
    flex-direction: column;

}