.recettesShow {
  margin: 1rem;
}

.recettesShow .card{
  padding: 1rem;
}
.recettesShow .imgRecette {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.recettesShow .imgRecette img {
  max-width: 400px;
  border-radius: 10px;
}

.tempsGroupe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recettesShow .saisons p,
.recettesShow .tempsGroupe p {
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: bold;
}

.recettesShow .cardRepasRecette {
  padding: 1rem;
  background-color: var(--color-three);
}

.recettesShow .cardRepasRecette span {
  font-family: "AlegreyaBold", Arial, Helvetica, sans-serif;
}

/* repas effectués */

.repas .card-content {
  display: flex;
  flex-wrap: wrap;
}

.repas .card-content .texte {
  font-weight: bold;
}
/* page repas_recette / index*/

#question {
  border: 1px solid gray;
  border-radius: 10px;
  padding: .5rem;
}
#question p {
  padding: .2rem;
  line-height: normal;
  margin: 0;
}