.recettesIndex .iconeAjout {
    font-size: 1.5rem;
}

.recettesIndex .cardRecette {
    display: flex;
    flex-wrap: wrap;
    
}

.recettesIndex h2 span {
    font-size: 1rem;
    color: grey;
}

.recettesIndex .imgRecette {
    width: 25%;
    display: flex;
    
}

.recettesIndex .slugRecette {
    padding: 1rem;
    width: 75%;
}

.recettesIndex .titreRecette {
    font-family: "AlegreyaBold", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.recettesIndex .tpsRecette {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 20rem;
    padding-bottom: 1rem;
}

.recettesIndex .tpsRecette div {
    display: flex;
    flex-direction: column;

}